@if (isLoggedIn) {
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <img src="https://ik.imagekit.io/7lvwoay0t/favicon.ico" alt="logo">
        <h1>TST Board</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter routerLink="/home">
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </li>
      <li nz-submenu nzTitle="Dispatching" nzIcon="control" nzOpen="true">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/clients">
            <span nz-icon nzType="solution"></span>
            <span>Clients</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/brokers">
            <span nz-icon nzType="customer-service"></span>
            <span>Brokers</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/loads">
            <span nz-icon nzType="dollar"></span>
            <span>Loads</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team" nzOpen="true">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/trucks">
            <span nz-icon nzType="truck"></span>
            <span>Trucks</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/drivers">
            <span nz-icon nzType="car"></span>
            <span>Drivers</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/dispatchers">
            <span nz-icon nzType="user"></span>
            <span>Dispatcher</span>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <app-img-avatar imgSrc="https://cdn-icons-png.flaticon.com/512/219/219969.png"></app-img-avatar>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
}
@else {
<app-login></app-login>
}